@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/autoplay";
html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.nav-active {
  color: #FFD700 !important;
  font-weight: 700 !important;
}

.mobileMenu {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.mobileMenu a {
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  transition: all 0.5s ease;
}

.mobileMenu a:hover {
  color: #FFD700;
}

.slick-dots li button {
  width: 12px !important;
  height: 12px !important;
  background: #6A4DF4 !important;
  opacity: 0.3;
  border-radius: 50% !important;
  position: relative;
  transition: all 0.3s ease;
}

.slick-dots li button:before {
  display: none !important;
}

.slick-dots li.slick-active button {
  opacity: 1;
  transform: scale(1.3);
  background-color: #6A4DF4 !important;
}

.slick-dots {
  bottom: -40px !important;
}

.slick-slide {
  transition: all 0.5s ease;
}

.slick-center {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  border-radius: 30px;
  background-color: #ffffff;
  transform: scale(1.05);
  z-index: 10;
}


@theme {
  --font-inter:  "Inter", sans-serif;
}